In [1]:
#https://datahack.analyticsvidhya.com/contest/ltfs-datascience-finhack-an-online-hackathon/

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
#load the datasets
train_orig = pd.read_csv("D:\\datasets\\Heckathon\\LoanDefault\\train_aox2Jxw\\train.csv")
test_orig = pd.read_csv("D:\\datasets\\Heckathon\\LoanDefault\\test_bqCt9Pv.csv")

In [4]:
train_orig.info()
train_orig.shape
test_orig.info()
test_orig.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
UniqueID                               233154 non-null int64
disbursed_amount                       233154 non-null int64
asset_cost                             233154 non-null int64
ltv                                    233154 non-null float64
branch_id                              233154 non-null int64
supplier_id                            233154 non-null int64
manufacturer_id                        233154 non-null int64
Current_pincode_ID                     233154 non-null int64
Date.of.Birth                          233154 non-null object
Employment.Type                        225493 non-null object
DisbursalDate                          233154 non-null object
State_ID                               233154 non-null int64
Employee_code_ID                       233154 non-null int64
MobileNo_Avl_Flag                      233154 non-null int64
Aadhar_flag                            233154 non-null int64
PAN_flag                               233154 non-null int64
VoterID_flag                           233154 non-null int64
Driving_flag                           233154 non-null int64
Passport_flag                          233154 non-null int64
PERFORM_CNS.SCORE                      233154 non-null int64
PERFORM_CNS.SCORE.DESCRIPTION          233154 non-null object
PRI.NO.OF.ACCTS                        233154 non-null int64
PRI.ACTIVE.ACCTS                       233154 non-null int64
PRI.OVERDUE.ACCTS                      233154 non-null int64
PRI.CURRENT.BALANCE                    233154 non-null int64
PRI.SANCTIONED.AMOUNT                  233154 non-null int64
PRI.DISBURSED.AMOUNT                   233154 non-null int64
SEC.NO.OF.ACCTS                        233154 non-null int64
SEC.ACTIVE.ACCTS                       233154 non-null int64
SEC.OVERDUE.ACCTS                      233154 non-null int64
SEC.CURRENT.BALANCE                    233154 non-null int64
SEC.SANCTIONED.AMOUNT                  233154 non-null int64
SEC.DISBURSED.AMOUNT                   233154 non-null int64
PRIMARY.INSTAL.AMT                     233154 non-null int64
SEC.INSTAL.AMT                         233154 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           233154 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    233154 non-null int64
AVERAGE.ACCT.AGE                       233154 non-null object
CREDIT.HISTORY.LENGTH                  233154 non-null object
NO.OF_INQUIRIES                        233154 non-null int64
loan_default                           233154 non-null int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

(233154, 41)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 40 columns):
UniqueID                               112392 non-null int64
disbursed_amount                       112392 non-null int64
asset_cost                             112392 non-null int64
ltv                                    112392 non-null float64
branch_id                              112392 non-null int64
supplier_id                            112392 non-null int64
manufacturer_id                        112392 non-null int64
Current_pincode_ID                     112392 non-null int64
Date.of.Birth                          112392 non-null object
Employment.Type                        108949 non-null object
DisbursalDate                          112392 non-null object
State_ID                               112392 non-null int64
Employee_code_ID                       112392 non-null int64
MobileNo_Avl_Flag                      112392 non-null int64
Aadhar_flag                            112392 non-null int64
PAN_flag                               112392 non-null int64
VoterID_flag                           112392 non-null int64
Driving_flag                           112392 non-null int64
Passport_flag                          112392 non-null int64
PERFORM_CNS.SCORE                      112392 non-null int64
PERFORM_CNS.SCORE.DESCRIPTION          112392 non-null object
PRI.NO.OF.ACCTS                        112392 non-null int64
PRI.ACTIVE.ACCTS                       112392 non-null int64
PRI.OVERDUE.ACCTS                      112392 non-null int64
PRI.CURRENT.BALANCE                    112392 non-null int64
PRI.SANCTIONED.AMOUNT                  112392 non-null int64
PRI.DISBURSED.AMOUNT                   112392 non-null int64
SEC.NO.OF.ACCTS                        112392 non-null int64
SEC.ACTIVE.ACCTS                       112392 non-null int64
SEC.OVERDUE.ACCTS                      112392 non-null int64
SEC.CURRENT.BALANCE                    112392 non-null int64
SEC.SANCTIONED.AMOUNT                  112392 non-null int64
SEC.DISBURSED.AMOUNT                   112392 non-null int64
PRIMARY.INSTAL.AMT                     112392 non-null int64
SEC.INSTAL.AMT                         112392 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           112392 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    112392 non-null int64
AVERAGE.ACCT.AGE                       112392 non-null object
CREDIT.HISTORY.LENGTH                  112392 non-null object
NO.OF_INQUIRIES                        112392 non-null int64
dtypes: float64(1), int64(33), object(6)
memory usage: 34.3+ MB

(112392, 40)

In [65]:
train = train_orig.copy(deep= True)
test = test_orig.copy(deep= True)

In [52]:
#check for missing values
pd.isnull(train).sum()
pd.isnull(test).sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        7661
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
loan_default                              0
dtype: int64

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        3443
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
dtype: int64

In [53]:
train['Employment.Type'].value_counts()
test['Employment.Type'].value_counts()

Self employed    127635
Salaried          97858
Name: Employment.Type, dtype: int64

Self employed    59794
Salaried         49155
Name: Employment.Type, dtype: int64

In [54]:
train['PERFORM_CNS.SCORE.DESCRIPTION'].unique()

array(['No Bureau History Available', 'I-Medium Risk', 'L-Very High Risk',
       'A-Very Low Risk',
       'Not Scored: Not Enough Info available on the customer',
       'D-Very Low Risk', 'M-Very High Risk', 'B-Very Low Risk',
       'C-Very Low Risk', 'E-Low Risk', 'H-Medium Risk', 'F-Low Risk',
       'K-High Risk',
       'Not Scored: No Activity seen on the customer (Inactive)',
       'Not Scored: Sufficient History Not Available',
       'Not Scored: No Updates available in last 36 months', 'G-Low Risk',
       'J-High Risk', 'Not Scored: Only a Guarantor',
       'Not Scored: More than 50 active Accounts found'], dtype=object)

In [55]:
train['CREDIT.HISTORY.LENGTH'].unique()

array(['0yrs 0mon', '1yrs 11mon', '1yrs 3mon', '2yrs 0mon', '0yrs 2mon',
       '4yrs 8mon', '1yrs 7mon', '0yrs 7mon', '2yrs 3mon', '2yrs 9mon',
       '2yrs 1mon', '7yrs 2mon', '0yrs 1mon', '5yrs 6mon', '4yrs 7mon',
       '1yrs 9mon', '0yrs 11mon', '0yrs 10mon', '5yrs 10mon', '3yrs 1mon',
       '5yrs 4mon', '4yrs 10mon', '0yrs 4mon', '4yrs 0mon', '3yrs 9mon',
       '2yrs 11mon', '1yrs 8mon', '5yrs 2mon', '2yrs 10mon', '1yrs 2mon',
       '1yrs 5mon', '12yrs 10mon', '2yrs 2mon', '3yrs 8mon', '7yrs 5mon',
       '1yrs 0mon', '4yrs 2mon', '1yrs 10mon', '0yrs 6mon', '3yrs 2mon',
       '5yrs 1mon', '4yrs 3mon', '6yrs 9mon', '1yrs 1mon', '11yrs 0mon',
       '0yrs 9mon', '5yrs 0mon', '11yrs 2mon', '4yrs 1mon', '1yrs 4mon',
       '4yrs 9mon', '12yrs 11mon', '3yrs 7mon', '2yrs 5mon', '0yrs 3mon',
       '6yrs 6mon', '1yrs 6mon', '7yrs 4mon', '19yrs 3mon', '3yrs 0mon',
       '4yrs 6mon', '2yrs 7mon', '2yrs 8mon', '3yrs 11mon', '4yrs 11mon',
       '8yrs 1mon', '7yrs 7mon', '6yrs 7mon', '2yrs 4mon', '3yrs 10mon',
       '3yrs 3mon', '9yrs 2mon', '5yrs 11mon', '7yrs 1mon', '0yrs 5mon',
       '3yrs 5mon', '3yrs 4mon', '2yrs 6mon', '3yrs 6mon', '6yrs 10mon',
       '6yrs 3mon', '4yrs 5mon', '13yrs 2mon', '12yrs 3mon', '0yrs 8mon',
       '6yrs 2mon', '11yrs 11mon', '6yrs 5mon', '5yrs 5mon', '6yrs 11mon',
       '11yrs 4mon', '6yrs 1mon', '8yrs 6mon', '8yrs 4mon', '5yrs 8mon',
       '8yrs 11mon', '11yrs 3mon', '10yrs 9mon', '7yrs 3mon', '5yrs 7mon',
       '10yrs 0mon', '6yrs 8mon', '5yrs 3mon', '10yrs 10mon', '8yrs 8mon',
       '4yrs 4mon', '6yrs 0mon', '8yrs 3mon', '8yrs 7mon', '10yrs 5mon',
       '24yrs 8mon', '13yrs 5mon', '5yrs 9mon', '8yrs 5mon', '10yrs 2mon',
       '7yrs 0mon', '8yrs 10mon', '11yrs 5mon', '9yrs 4mon', '12yrs 0mon',
       '9yrs 8mon', '7yrs 11mon', '9yrs 5mon', '11yrs 7mon', '7yrs 8mon',
       '6yrs 4mon', '9yrs 11mon', '9yrs 10mon', '13yrs 3mon',
       '11yrs 8mon', '10yrs 1mon', '11yrs 6mon', '8yrs 9mon',
       '10yrs 4mon', '16yrs 1mon', '9yrs 1mon', '15yrs 2mon',
       '11yrs 9mon', '12yrs 1mon', '8yrs 2mon', '22yrs 7mon',
       '10yrs 3mon', '9yrs 7mon', '8yrs 0mon', '14yrs 9mon',
       '14yrs 10mon', '14yrs 0mon', '10yrs 8mon', '16yrs 5mon',
       '10yrs 7mon', '11yrs 10mon', '12yrs 6mon', '7yrs 9mon',
       '16yrs 4mon', '11yrs 1mon', '7yrs 6mon', '7yrs 10mon', '9yrs 9mon',
       '12yrs 8mon', '12yrs 9mon', '13yrs 7mon', '9yrs 0mon',
       '17yrs 1mon', '22yrs 3mon', '13yrs 10mon', '13yrs 6mon',
       '12yrs 4mon', '10yrs 11mon', '9yrs 3mon', '12yrs 5mon',
       '14yrs 11mon', '10yrs 6mon', '9yrs 6mon', '15yrs 1mon',
       '14yrs 3mon', '13yrs 4mon', '14yrs 7mon', '15yrs 11mon',
       '27yrs 4mon', '13yrs 0mon', '13yrs 8mon', '19yrs 11mon',
       '16yrs 8mon', '24yrs 2mon', '15yrs 7mon', '13yrs 1mon',
       '12yrs 7mon', '15yrs 6mon', '15yrs 5mon', '13yrs 11mon',
       '16yrs 6mon', '23yrs 3mon', '17yrs 0mon', '14yrs 6mon',
       '17yrs 10mon', '14yrs 1mon', '18yrs 1mon', '15yrs 3mon',
       '20yrs 6mon', '14yrs 8mon', '15yrs 9mon', '19yrs 9mon',
       '15yrs 10mon', '17yrs 9mon', '15yrs 4mon', '12yrs 2mon',
       '19yrs 10mon', '15yrs 8mon', '14yrs 4mon', '14yrs 2mon',
       '14yrs 5mon', '27yrs 3mon', '19yrs 8mon', '17yrs 6mon',
       '16yrs 9mon', '20yrs 1mon', '16yrs 2mon', '19yrs 4mon',
       '13yrs 9mon', '18yrs 4mon', '17yrs 3mon', '18yrs 2mon',
       '37yrs 5mon', '16yrs 0mon', '18yrs 6mon', '19yrs 7mon',
       '16yrs 3mon', '20yrs 5mon', '21yrs 3mon', '25yrs 6mon',
       '20yrs 8mon', '22yrs 1mon', '20yrs 9mon', '17yrs 2mon',
       '18yrs 5mon', '30yrs 9mon', '29yrs 7mon', '15yrs 0mon',
       '16yrs 10mon', '18yrs 11mon', '16yrs 11mon', '22yrs 2mon',
       '23yrs 6mon', '20yrs 11mon', '18yrs 10mon', '24yrs 4mon',
       '28yrs 1mon', '16yrs 7mon', '20yrs 10mon', '25yrs 0mon',
       '25yrs 7mon', '39yrs 0mon', '23yrs 2mon', '19yrs 6mon',
       '18yrs 0mon', '17yrs 7mon', '23yrs 4mon', '21yrs 5mon',
       '17yrs 5mon', '21yrs 8mon', '30yrs 7mon', '17yrs 4mon',
       '19yrs 5mon', '18yrs 8mon', '22yrs 6mon', '24yrs 7mon',
       '20yrs 4mon', '28yrs 3mon', '35yrs 3mon', '29yrs 1mon',
       '20yrs 2mon', '34yrs 5mon', '17yrs 11mon', '26yrs 3mon',
       '28yrs 7mon', '24yrs 0mon', '26yrs 8mon', '21yrs 11mon',
       '17yrs 8mon', '19yrs 1mon', '21yrs 1mon', '26yrs 11mon',
       '22yrs 11mon', '25yrs 8mon', '22yrs 0mon', '20yrs 0mon',
       '22yrs 4mon', '21yrs 9mon', '28yrs 9mon', '19yrs 0mon',
       '25yrs 11mon', '23yrs 1mon', '21yrs 2mon', '22yrs 10mon'],
      dtype=object)

In [56]:
train['MobileNo_Avl_Flag'].value_counts()

1    233154
Name: MobileNo_Avl_Flag, dtype: int64

In [57]:
from datetime import datetime
from datetime import date
import re

In [66]:
#preprocess the data
def process_data(df):
    #fill null values with Not Available
    df = df.fillna('Not Available')
    #calculate age based on date of birth
    df['Date.of.Birth'] = pd.to_datetime(df['Date.of.Birth'])
    now = datetime.now()
    df['age'] = ((now - df['Date.of.Birth'])/365).dt.days
    df.drop(['Date.of.Birth'], axis=1, inplace=True)
    #calculate disbursal age
    df['DisbursalDate'] = pd.to_datetime(df['DisbursalDate'])
    df['DisbursalAge'] = ((now - df['DisbursalDate'])/365).dt.days
    df.drop(['DisbursalDate'], axis=1, inplace=True)
    #create mapping for CNS Description
    score_mapping = {'No Bureau History Available': 1,
                 'I-Medium Risk': 2,
                 'L-Very High Risk': 3,
                 'A-Very Low Risk': 4,
                 'Not Scored: Not Enough Info available on the customer': 5,
                 'D-Very Low Risk': 6,
                 'M-Very High Risk': 7,
                 'B-Very Low Risk': 8,
                 'C-Very Low Risk': 9,
                 'E-Low Risk': 10,
                 'H-Medium Risk': 11,
                 'F-Low Risk': 12,
                 'K-High Risk': 13,
                 'Not Scored: No Activity seen on the customer (Inactive)': 14,
                 'Not Scored: Sufficient History Not Available': 15,
                 'Not Scored: No Updates available in last 36 months': 16,
                 'G-Low Risk': 17,
                 'J-High Risk': 18,
                 'Not Scored: Only a Guarantor': 19,
                 'Not Scored: More than 50 active Accounts found': 20}
    df['PERFORM_CNS.SCORE.DESCRIPTION'] = [score_mapping[item] for item in df['PERFORM_CNS.SCORE.DESCRIPTION']]
    df.drop(['PERFORM_CNS.SCORE.DESCRIPTION'], axis=1, inplace=True)
    #Consider only year for Credit History Length and Average Acct Age
    def NoOfYears(str1):
        d1 = re.findall('\d+', str1 )
        yrs = d1[0]
        return yrs
    df['CREDIT.HISTORY.LENGTH_NoOfYrs'] = df['CREDIT.HISTORY.LENGTH'].apply(NoOfYears)
    df['CREDIT.HISTORY.LENGTH_NoOfYrs'] = df['CREDIT.HISTORY.LENGTH_NoOfYrs'].astype(int)
    df['AVERAGE.ACCT.AGE_NoOfYrs'] = df['AVERAGE.ACCT.AGE'].apply(NoOfYears)
    df['AVERAGE.ACCT.AGE_NoOfYrs'] = df['AVERAGE.ACCT.AGE_NoOfYrs'].astype(int)
    #remove the columns not required
    df.drop(['MobileNo_Avl_Flag', 'UniqueID', 'branch_id', 'supplier_id', 'manufacturer_id', 'Current_pincode_ID',
           'State_ID', 'Employee_code_ID', 'MobileNo_Avl_Flag','AVERAGE.ACCT.AGE','CREDIT.HISTORY.LENGTH'], axis=1, inplace=True)
    #Do One Hot encoding for Employment Type
    df['Employment.Type'] = df['Employment.Type'].map({"Salaried":0, "Self employed":1, "Not Available": 3}).astype(int)
    return df

In [67]:
train = process_data(train)#pre-process train dataset

In [68]:
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 32 columns):
disbursed_amount                       233154 non-null int64
asset_cost                             233154 non-null int64
ltv                                    233154 non-null float64
Employment.Type                        233154 non-null int32
Aadhar_flag                            233154 non-null int64
PAN_flag                               233154 non-null int64
VoterID_flag                           233154 non-null int64
Driving_flag                           233154 non-null int64
Passport_flag                          233154 non-null int64
PERFORM_CNS.SCORE                      233154 non-null int64
PRI.NO.OF.ACCTS                        233154 non-null int64
PRI.ACTIVE.ACCTS                       233154 non-null int64
PRI.OVERDUE.ACCTS                      233154 non-null int64
PRI.CURRENT.BALANCE                    233154 non-null int64
PRI.SANCTIONED.AMOUNT                  233154 non-null int64
PRI.DISBURSED.AMOUNT                   233154 non-null int64
SEC.NO.OF.ACCTS                        233154 non-null int64
SEC.ACTIVE.ACCTS                       233154 non-null int64
SEC.OVERDUE.ACCTS                      233154 non-null int64
SEC.CURRENT.BALANCE                    233154 non-null int64
SEC.SANCTIONED.AMOUNT                  233154 non-null int64
SEC.DISBURSED.AMOUNT                   233154 non-null int64
PRIMARY.INSTAL.AMT                     233154 non-null int64
SEC.INSTAL.AMT                         233154 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           233154 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    233154 non-null int64
NO.OF_INQUIRIES                        233154 non-null int64
loan_default                           233154 non-null int64
age                                    233154 non-null int64
DisbursalAge                           233154 non-null int64
CREDIT.HISTORY.LENGTH_NoOfYrs          233154 non-null int32
AVERAGE.ACCT.AGE_NoOfYrs               233154 non-null int32
dtypes: float64(1), int32(3), int64(28)
memory usage: 54.3 MB

,disbursed_amount,asset_cost,ltv,Employment.Type,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,...,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default,age,DisbursalAge,CREDIT.HISTORY.LENGTH_NoOfYrs,AVERAGE.ACCT.AGE_NoOfYrs
0,50578,58400,89.55,0,1,0,0,0,0,0,...,0,0,0,0,0,0,35,1,0,0
1,47145,65550,73.23,1,1,0,0,0,0,598,...,1991,0,0,1,0,1,33,0,1,1
2,53278,61360,89.63,1,1,0,0,0,0,0,...,0,0,0,0,0,0,33,1,0,0
3,57513,66113,88.48,1,1,0,0,0,0,305,...,31,0,0,0,1,1,25,0,1,0
4,52378,60300,88.39,1,1,0,0,0,0,0,...,0,0,0,0,1,1,41,0,0,0

In [69]:
train['Employment.Type'].unique()

array([0, 1, 3], dtype=int64)

In [70]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 40 columns):
UniqueID                               112392 non-null int64
disbursed_amount                       112392 non-null int64
asset_cost                             112392 non-null int64
ltv                                    112392 non-null float64
branch_id                              112392 non-null int64
supplier_id                            112392 non-null int64
manufacturer_id                        112392 non-null int64
Current_pincode_ID                     112392 non-null int64
Date.of.Birth                          112392 non-null object
Employment.Type                        108949 non-null object
DisbursalDate                          112392 non-null object
State_ID                               112392 non-null int64
Employee_code_ID                       112392 non-null int64
MobileNo_Avl_Flag                      112392 non-null int64
Aadhar_flag                            112392 non-null int64
PAN_flag                               112392 non-null int64
VoterID_flag                           112392 non-null int64
Driving_flag                           112392 non-null int64
Passport_flag                          112392 non-null int64
PERFORM_CNS.SCORE                      112392 non-null int64
PERFORM_CNS.SCORE.DESCRIPTION          112392 non-null object
PRI.NO.OF.ACCTS                        112392 non-null int64
PRI.ACTIVE.ACCTS                       112392 non-null int64
PRI.OVERDUE.ACCTS                      112392 non-null int64
PRI.CURRENT.BALANCE                    112392 non-null int64
PRI.SANCTIONED.AMOUNT                  112392 non-null int64
PRI.DISBURSED.AMOUNT                   112392 non-null int64
SEC.NO.OF.ACCTS                        112392 non-null int64
SEC.ACTIVE.ACCTS                       112392 non-null int64
SEC.OVERDUE.ACCTS                      112392 non-null int64
SEC.CURRENT.BALANCE                    112392 non-null int64
SEC.SANCTIONED.AMOUNT                  112392 non-null int64
SEC.DISBURSED.AMOUNT                   112392 non-null int64
PRIMARY.INSTAL.AMT                     112392 non-null int64
SEC.INSTAL.AMT                         112392 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           112392 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    112392 non-null int64
AVERAGE.ACCT.AGE                       112392 non-null object
CREDIT.HISTORY.LENGTH                  112392 non-null object
NO.OF_INQUIRIES                        112392 non-null int64
dtypes: float64(1), int64(33), object(6)
memory usage: 34.3+ MB

In [71]:
test = process_data(test)#pre-process test dataset

In [72]:
test.info()
test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 31 columns):
disbursed_amount                       112392 non-null int64
asset_cost                             112392 non-null int64
ltv                                    112392 non-null float64
Employment.Type                        112392 non-null int32
Aadhar_flag                            112392 non-null int64
PAN_flag                               112392 non-null int64
VoterID_flag                           112392 non-null int64
Driving_flag                           112392 non-null int64
Passport_flag                          112392 non-null int64
PERFORM_CNS.SCORE                      112392 non-null int64
PRI.NO.OF.ACCTS                        112392 non-null int64
PRI.ACTIVE.ACCTS                       112392 non-null int64
PRI.OVERDUE.ACCTS                      112392 non-null int64
PRI.CURRENT.BALANCE                    112392 non-null int64
PRI.SANCTIONED.AMOUNT                  112392 non-null int64
PRI.DISBURSED.AMOUNT                   112392 non-null int64
SEC.NO.OF.ACCTS                        112392 non-null int64
SEC.ACTIVE.ACCTS                       112392 non-null int64
SEC.OVERDUE.ACCTS                      112392 non-null int64
SEC.CURRENT.BALANCE                    112392 non-null int64
SEC.SANCTIONED.AMOUNT                  112392 non-null int64
SEC.DISBURSED.AMOUNT                   112392 non-null int64
PRIMARY.INSTAL.AMT                     112392 non-null int64
SEC.INSTAL.AMT                         112392 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           112392 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    112392 non-null int64
NO.OF_INQUIRIES                        112392 non-null int64
age                                    112392 non-null int64
DisbursalAge                           112392 non-null int64
CREDIT.HISTORY.LENGTH_NoOfYrs          112392 non-null int32
AVERAGE.ACCT.AGE_NoOfYrs               112392 non-null int32
dtypes: float64(1), int32(3), int64(27)
memory usage: 25.3 MB

,disbursed_amount,asset_cost,ltv,Employment.Type,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,...,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,age,DisbursalAge,CREDIT.HISTORY.LENGTH_NoOfYrs,AVERAGE.ACCT.AGE_NoOfYrs
0,53478,63558,86.54,0,1,0,0,0,0,0,...,0,0,0,0,0,0,45,1,0,0
1,55513,63163,89.45,1,1,0,0,0,0,749,...,0,5605,0,1,0,1,33,0,1,0
2,65282,84320,79.93,0,1,1,0,0,0,0,...,0,0,0,0,0,0,23,0,0,0
3,46905,63896,76.58,1,1,0,0,0,0,14,...,0,0,0,0,0,0,46,0,2,2
4,51428,63896,86.08,0,1,0,0,0,0,0,...,0,0,0,0,0,0,47,0,0,0

In [73]:
train['loan_default'].value_counts()

0    182543
1     50611
Name: loan_default, dtype: int64

In [74]:
#we have imbalanced dataset, so we will use SMOTE to balance the dataset

In [75]:
x = train.drop('loan_default', axis = 1)
y = train['loan_default']

In [76]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(ratio='minority')
X_sm, y_sm = smote.fit_sample(x, y)

#plot_2d_space(X_sm, y_sm, 'SMOTE over-sampling')

In [77]:
train_x, test_x, train_y, test_y = train_test_split(X_sm,y_sm,test_size = 0.3, random_state = 0)

In [78]:
from sklearn.linear_model import LogisticRegression

In [79]:
log = LogisticRegression()

In [80]:
log.fit(train_x, train_y)

C:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [81]:
classes = log.predict(test_x)

In [83]:
from sklearn import metrics
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, accuracy_score, f1_score
from sklearn.metrics import confusion_matrix, average_precision_score, recall_score

In [84]:
print("Accuracy Score")
print(metrics.accuracy_score(test_y, classes))
print("Precision/Recall Metrics")
print(metrics.classification_report(test_y, classes))
print("AUC")
auc = metrics.roc_auc_score(test_y, classes)
print(auc)

Accuracy Score
0.5660573745046839
Precision/Recall Metrics
              precision    recall  f1-score   support

           0       0.58      0.49      0.53     54923
           1       0.56      0.64      0.60     54603

   micro avg       0.57      0.57      0.57    109526
   macro avg       0.57      0.57      0.56    109526
weighted avg       0.57      0.57      0.56    109526

AUC
0.5662758272164531

In [85]:
#Try Random classifier with smote

In [86]:
x = train.drop('loan_default', axis = 1)
y = train['loan_default']

In [87]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(ratio='minority')
x_sm, y_sm = smote.fit_sample(x, y)

#plot_2d_space(x_sm, y_sm, 'SMOTE over-sampling')

In [88]:
train_x, test_x, train_y, test_y = train_test_split(x_sm,y_sm,test_size = 0.3, random_state = 0)

In [89]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  
train_x = sc.fit_transform(train_x)  
test_x = sc.transform(test_x)

In [90]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=20, random_state=0)  
clf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [91]:
classes = clf.predict(test_x)

In [92]:
print("Accuracy Score")
print(metrics.accuracy_score(test_y, classes))
print("Precision/Recall Metrics")
print(metrics.classification_report(test_y, classes))
print("AUC")
auc = metrics.roc_auc_score(test_y, classes)
print(auc)

Accuracy Score
0.8332268137245951
Precision/Recall Metrics
              precision    recall  f1-score   support

           0       0.78      0.93      0.85     54923
           1       0.91      0.73      0.81     54603

   micro avg       0.83      0.83      0.83    109526
   macro avg       0.85      0.83      0.83    109526
weighted avg       0.85      0.83      0.83    109526

AUC
0.8329387841311094

In [93]:
import dill

In [94]:
#save the state
dill.dump_session('D:\\datasets\\Heckathon\\LoanDefault\\RF_Smote.db')